# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
rag/


# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# FAISS index files (optional, if generated automatically)
 

.env

__pycache__/
*.pyc

rag/


faiss_index/